/* Reset default styles */
:root {
  font-family: 'DotGothic16', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0D0221; /* BG-Primary */
  color: #F0F0F0; /* Primary Text */
}

/* Box-sizing border-box for all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}
